<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Admin Dashboard</h1>
    <p>Hi, {{ username }}!</p>

    <form method="POST" action="{{ url_for('admin_dashboard') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.date.label }} {{ form.date(size=20) }}
        </div>
        <div>
            {{ form.start_time.label }} {{ form.start_time(size=20) }}
        </div>
        <div>
            {{ form.end_time.label }} {{ form.end_time(size=20) }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>

    <h2>Availabilities</h2>
    <ul>
        {% for availability in availabilities %}
            <li>{{ availability.date }}: {{ availability.start_time }} - {{ availability.end_time }}</li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('logout') }}">Logout</a>
    
</body>
</html>